#terminal{

    position:absolute;

    top:35px;

    left:60px;

    right:60px;

    width:auto;

    height:80vh;

    border:1px solid #00ff88;

    background:#050505;

    box-shadow:0 0 25px rgba(0,255,136,.2);

    display:flex;

    flex-direction:column;

}

#commandInput{

    flex:1;

    background:transparent;

    border:none;

    outline:none;

    color:#00ff88;

    caret-color:#00ff88;

    font-family:'Share Tech Mono', monospace;

    font-size:1rem;

}

#commandInput::placeholder{

    color:rgba(0,255,136,.35);

}

#commandInput::selection{

    background:#00ff88;

    color:#000;

}

#commandInput::-webkit-input-placeholder{

    color:rgba(0,255,136,.35);

}
