#terminal{

    width:min(1100px,95%);

    height:80vh;

    margin:40px 0 0 80px;

    border:1px solid #00ff88;

    background:#050505;

    box-shadow:0 0 25px rgba(0,255,136,.2);

    display:flex;

    flex-direction:column;

}
