#terminal{

    position:absolute;

    top:35px;

    left:60px;

    right:60px;

    width:auto;

    height:80vh;

    border:1px solid #00ff88;

    background:#050505;

    box-shadow:0 0 25px rgba(0,255,136,.2);

    display:flex;

    flex-direction:column;

}



#terminalOutput{

    flex:1;

    overflow-y:auto;

    padding:20px;

    display:flex;
    flex-direction:column;

}

.line{

    color:#00ff88;

    line-height:1.5;

    white-space:pre-wrap;

}


