 <!-- TOPBAR -->
  <header id="topbar">

    <div class="topbar-left">
      <a class="logo" id="logoLink" href="/hackcrow/workout/index.html">
       <img src="/hackcrow/workout/src/images/logo.png"
         alt="Workout"
         class="logo-img"
       >
      </a>
    </div>

    <div class="topbar-right">

      <button class="theme-toggle" id="themeToggle" title="Cambiar tema">
        <span class="moon-icon">🌙</span>
        <span class="sun-icon">☀️</span>
      </button>

      <button class="menu-btn" id="menuBtn" aria-label="Menú">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </div>
  </header>
